@media (min-width: 928px) {
  header {
    width: 100%;
    height: 80px;
    background-color: #212529;
    color: #f8f9fa;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
  }
  header #mercator-logo {
    width: 20%;
    margin-left: 37px;
  }
  header #mercator-logo img {
    max-height: 70px;
    border-radius: 25%;
  }
  header #user-welcome {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 77%;
  }
  header #user-welcome .auth-link {
    padding: 7px 5px;
    margin: 10px 22px;
    background-color: #f6bd60;
    color: #212529;
    border-radius: 7px;
    text-decoration: none;
  }
  header #user-welcome .auth-link:hover {
    cursor: pointer;
    background-color: #f8f9fa;
    box-shadow: 0 0 5px 3px #f8f9fa;
  }
  header #cart-container {
    text-align: center;
    padding: 15px;
  }
  header #cart-container a {
    text-decoration: none;
  }
  header #cart-container a img {
    height: 57px;
  }

  nav {
    display: grid;
    grid-template-columns: 57% 37%;
    grid-column-gap: 6%;
    align-items: center;
    position: fixed;
    top: 80px;
    width: 100%;
    height: 57px;
    background-color: #343a40;
  }
  nav #nav-links-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 37px;
  }
  nav #nav-links-container .nav-link {
    background-color: #f6bd60;
    color: #212529;
    padding: 7px 5px;
    margin-right: 17px;
    border-radius: 7px;
    text-decoration: none;
  }
  nav #nav-links-container .nav-link:hover {
    background-color: #f8f9fa;
    color: #212529;
    box-shadow: 0 0 7px 5px #f8f9fa;
    cursor: pointer;
  }
  nav #search-bar {
    margin-right: 37px;
  }
  nav #search-bar form input {
    font-size: 17px;
    height: 37px;
    width: 100%;
    padding: 3px 7px;
    border: 2px solid #212529;
    border-radius: 10px;
  }
  nav #search-bar form input:hover {
    box-shadow: 0 0 7px 3px #f8f9fa;
    border: none;
  }

  main {
    margin: 170px 0;
  }
  main h1 {
    text-align: center;
  }
  main #personalised-container {
    margin: 25px 5%;
    width: 90%;
    height: 500px;
    background-color: #f6bd60;
    border: #343a40;
  }
  main #trending-container {
    margin: 0 5%;
    width: 90%;
    height: 700px;
    background-color: #f6bd60;
    border: #343a40;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: #343a40;
    height: 47px;
    padding: 10px;
  }
  footer #links-container a {
    color: #f6bd60;
    margin: 0 20px;
  }
  footer #links-container a:hover {
    color: black;
    text-decoration: none;
  }
  footer #made-by {
    text-align: center;
    font-size: large;
    margin-top: 10px;
  }
  footer #made-by a {
    color: #f6bd60;
    text-decoration: none;
  }
  footer #made-by a:hover {
    color: #f8f9fa;
    font-style: oblique;
  }
}
@media (max-width: 927px) {
  header {
    display: flex;
    flex-wrap: wrap;
    background-color: #212529;
    color: #f8f9fa;
    width: 100%;
    position: fixed;
    top: 0px;
  }
  header #mercator-logo {
    width: 100%;
    height: 77px;
    text-align: center;
    vertical-align: middle;
  }
  header #mercator-logo img {
    margin-top: 7px;
    max-height: 70px;
    border-radius: 25%;
  }
  header #user-welcome {
    display: none;
    width: 85%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
  }
  header #user-welcome .auth-link {
    padding: 7px 5px;
    margin: 7px 16px;
    background-color: #f6bd60;
    color: #212529;
    border-radius: 7px;
    text-decoration: none;
  }
  header #user-welcome .auth-link:hover {
    cursor: pointer;
    background-color: #f8f9fa;
    box-shadow: 0 0 5px 3px #f8f9fa;
  }
  header #cart-container {
    position: fixed;
    top: 10px;
    right: 10px;
    text-align: center;
    padding: 7px;
  }
  header #cart-container a {
    text-decoration: none;
  }
  header #cart-container a img {
    max-height: 37px;
  }

  nav {
    width: 100%;
    background-color: #343a40;
    background-color: #343a40;
    position: fixed;
    top: 120px;
  }
  nav #nav-links-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 47px;
  }
  nav #nav-links-container .nav-link {
    background-color: #f6bd60;
    color: #f8f9fa;
    border-radius: 7px;
    text-decoration: none;
    padding: 5px 3px;
    margin-right: 10px;
  }
  nav #nav-links-container .nav-link:hover {
    box-shadow: 0 0 4px 2px #f8f9fa;
    background-color: #f8f9fa;
    color: #212529;
    box-shadow: 0 0 7px 5px #f8f9fa;
    cursor: pointer;
  }
  nav #search-bar {
    padding-bottom: 7px;
  }
  nav #search-bar form {
    text-align: center;
  }
  nav #search-bar form input {
    height: 27px;
    width: 75%;
    padding: 3px 7px;
    border: 2px solid #212529;
    border-radius: 10px;
  }
  nav #search-bar form input:hover {
    box-shadow: 0 0 7px 3px #f8f9fa;
  }

  main {
    margin: 227px 0;
  }
  main h1 {
    text-align: center;
  }
  main #personalised-container {
    margin: 25px 5%;
    width: 90%;
    background-color: #f6bd60;
    border: #343a40;
  }
  main #trending-container {
    margin: 0 5%;
    width: 90%;
    background-color: #f6bd60;
    border: #343a40;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: #343a40;
    height: 37px;
    padding: 7px;
  }
  footer #links-container a {
    color: #575757;
    margin: 0 17px;
  }
  footer #links-container a:hover {
    color: gray;
    text-decoration: none;
  }
  footer #made-by {
    text-align: center;
    font-size: 15px;
    margin-top: 7px;
  }
  footer #made-by a {
    color: #f6bd60;
    text-decoration: none;
  }
  footer #made-by a:hover {
    color: #f8f9fa;
    font-style: oblique;
  }
}
body {
  background-color: #f8f9fa;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=base.css.map */
