<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=content-width, initial-scale=1.0">
        <title>{% block title %}Mercator{% endblock %}</title>

        <!-- Static files -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block css_addon %}{% endblock %} <!-- page specific css -->
    </head>
    <body>
        <header>
            <div id="mercator-logo">
                <a href="{% url 'pages:home' %}">
                    <img src="{% static 'images/mercator-logo.png' %}">
                </a>
            </div>

            <div id="user-welcome">
                {% if user.is_authenticated %}
                    Hello, {{ user.username }} 
                    <a href="{% url 'users:logout' %}" class="auth-link">Logout</a>
                {% else %}
                    <a href="{% url 'users:login' %}" class="auth-link">Login</a>
                    <a href="{% url 'users:register' %}" class="auth-link">Register</a>
                {% endif %}
            </div>

            <!-- Cart button -->
            <div id="cart-container">
                <a style="font-size: 30px" href="#">🛒</a>
            </div>
        </header>
        
        <nav>
            <div id="nav-links-container">
                <a href="{% url 'pages:home' %}" class="nav-link">Home</a>
                <a href="{% url 'pages:categories' %}" class="nav-link">Categories</a>
                {% if user.is_authenticated %}
                    <a href="#" class="nav-link">My account</a>
                {% endif %}
                <!-- 
                {% if user.is_shop_owner %}
                    <a href="#" class="nav-link">Shop</a>
                {% endif %}
                 -->
                <a href="{% url 'pages:about' %}" class="nav-link">About</a>
                <a href="{% url 'pages:contact' %}" class="nav-link">Contact</a>
            </div>

            <div id="search-bar">
                <form action="#" method="POST">
                    {% csrf_token %}
                    <input type="search" placeholder="Search">
                </form>
            </div>
        </nav>

        <main>
            {% if message %}
                <div id="message-popup">{{ message }}</div>
            {% endif %}
            
            {% block content %}{% endblock %}
        </main>

        <script src="{% static 'js/base.js' %}"></script>

        <footer>
            <div id="links-container">
                <a href="{% url 'pages:privacy' %}">Privacy</a>
                <a href="{% url 'pages:about' %}">About</a>
                <a href="{% url 'pages:contact' %}">Contact</a>
            </div>
            <div id="made-by">
                Made by: <strong><a href="https://github.com/val-h" target="_blank">val-h</a></strong>
            </div>
        </footer>
    </body>
</html>
