<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Mercator{% endblock %}</title>
    </head>
    <body>
        <header>
            <!-- LOGO -->

            <div id="search-bar">
                <!-- basicly id -->
            </div>

            <div id="user-welcome">
                {% if user.is_authenticated %}
                    Hello, {{ user.username }} 
                    <a href="#">Logout</a>
                {% else %}
                    <a href="#">Login</a>
                    <a href="#">Register</a>
                {% endif %}
            </div>
        </header>
        
        <nav>
            <a href="{% url 'pages:home' %}">Home</a>
            <a href="{% url 'pages:categories' %}">Categories</a>
            {% if user.is_authenticated %}
                <a href="#">My account</a>
            {% endif %}
            <!-- 
            {% if user.is_shop_owner %}
                <a href="#">Shop</a>
            {% endif %}
             -->
            <a href="{% url 'pages:about' %}">About</a>
            <a href="{% url 'pages:contact' %}">Contact</a>
        </nav>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <div>
                Made by: <strong><a href="https://github.com/val-h" target="_blank">val-h</a></strong>
            </div>
        </footer>
    </body>
</html>
