{% extends '_base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<div id="profile-page-container">
    <div id="profile-sidebar">
        <!-- Options -->
    </div>

    <div id="profile-main-panel">
        <!-- not visible by default, switch with js -->
        <div id="profile">

        </div>
        <div id="settings">

        </div>
        <div id="preferences">

        </div>
        <div id="orders">

        </div>
        <div id="Reviews">

        </div>
        <div id="open-shop">

        </div>
    </div>

</div>
{% endblock %}