{% extends '_base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<div id="profile-page-container">
    <h1>Account</h1>
    <div id="profile-sidebar">
        <!-- Options -->
    </div>

    <div id="profile-main-panel">
        <!-- not visible by default, switch with js -->
        <div id="profile">
            <p>User id: {{ user.id }}</p>
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
        </div>
        <div id="settings">

        </div>
        <div id="preferences">

        </div>
        <div id="orders">

        </div>
        <div id="Reviews">

        </div>
        <div id="open-shop">

        </div>
    </div>

</div>
{% endblock %}