{% extends '_base.html' %}

{% block title %}Mercator{% endblock %}

{% load static %}
{% block js_addon %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}
{% block css_addon %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div id="main-container">
    <h1>Home!</h1>

    {% if user.is_authenticated %}
    <div id="personalised-container">
        personalised products container
    </div>
    {% endif %}

    <div id="trending-container">
    </div>

</div>
{% endblock %}