{% extends '_base.html' %}

{% block title %}{{ shop }}{% endblock title %}

{% block content %}
    <h1>{{ shop }}</h1>

    <div id="shop-products" style="margin: 25px;">
        <h3>Products</h3>
        {% for product in products %}
            <div style="padding-bottom: 15px;">
                ID:{{product.id}}<br>
                Title: {{ product.title }}<br>
                Price: {{ product.price }}<br>
                Quantity: {{ product.quantity}}<br>
                Category: {{ product.category }}<br>
            </div>
        {% empty %}
            No products available : /
        {% endfor %}
    </div>
{% endblock content %}