// Theme colors
$color1: #f8f9fa;
$color2: #f6bd60;
$color3: #343a40;
$color4: #212529;

#personalised-container {
    margin: 25px 5%;
    width: 90%;
    height: 500px;
    // background-color: $color2;
    border: $color3;
}

#trending-container {
    margin: 0 5%;
    width: 90%;
    height: 700px;
    // background-color: $color2;
    border: $color3;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // align-content: stretch;
}

.trending-product {
    // padding: 7px;
    margin: 17px;

    width: 220px;
    height: 220px;
    max-width: 220px;
    max-height: 220px;
    text-align: center;
    vertical-align: middle;

    background-color: white;
    border: 1px solid gray;
    border-radius: 7px;
    box-shadow: 0 0 7px 3px lightgray;

    .title {
        margin: 3px 0;
        font-size: 17px;
        color: hsl(0, 0%, 25%);
    } 

    .reviews {
        margin: 2px 0;
        font-size: 14px;
        color: gray;
        vertical-align: middle;

        img {
            display: inline;
            max-height: 16px;
            max-width: 16px;
        }
    }

    .price {
        margin: 1px 0;
    }

    img {
        width: 100%;
        max-width: 100%;
        max-height: 150px;
        border-radius: 7px;
    }
}